<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="PayrollEntities" connectionString="data source=X10A-FREEDOM\SQLEXPRESS2016; Initial Catalog=Payroll;Integrated Security=true;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>